extends layout

block content
  h1 Hi!
  main
    div
      h2 SVG image
      img(src="/images/github.svg", width="128")
    hr
    div
      h2 PNG image
      img(src="/images/github.png", width="128")
